@font-face {
  font-family: "HornetDisplay";
  src: url("./assets/fonts/HornetDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HornetDisplay";
  src: url("./assets/fonts/HornetDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
    --bg-color: #131613;
    --primary: #FFFFFF;
    --secondary: #000000;
    --highlight: #F8FC2A;
}

body {
    background-color: var(--bg-color);
    color: var(--primary);
    font-family: 'HornetDisplay', system-ui, sans-serif;
    font-weight: bold;
    margin: 0;
}

#root {
    padding: 1rem;
}

.nav-container {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    font-size: 3rem;
    margin: 1rem;
}

.button {
    color: var(--primary);
    padding: 0.5rem;
}

.button:hover {
    color: var(--highlight)
}

.button:active {
    background-color: var(--primary);
    color: var(--primary);
}

.button.active {
    background-color: var(--primary);
    color: var(--secondary)
}