@font-face {
    font-family: "HornetDisplay";
    src: url("./assets/fonts/HornetDisplay-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HornetDisplay";
    src: url("./assets/fonts/HornetDisplay-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ACES07";
    src: url("./assets/fonts/ACES07_Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --bg-color: #131613;
    --primary: #FFFFFF;
    --secondary: #000000;
    --highlight: #F8FC2A;
    --red: #BC3B3B;
    --cyan: #49d1d9;
    --magenta: #781f80;
    --green: #00b865;
}


*::selection {
    background-color: var(--cyan);
    color: var(--secondary);
}

*::-webkit-scrollbar {
    width: 2px;
}

*::-webkit-scrollbar-track {
    background: var(--bg-color);
}

*::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 0.1rem;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--highlight);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    height: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, a, button, input, textarea, select {
    cursor: url("./assets/images/cursor.svg") 16 16, auto;
    font-family: inherit;
}

body {
    background-color: var(--bg-color);
    color: var(--primary);
    font-family: 'HornetDisplay', system-ui, sans-serif;
    font-weight: bold;
    margin: 0;
}

.h1 {
    font-size: 4rem;
    font-weight: bold;
}

.h2 {
    font-size: 3rem;
    font-weight: bold;
}

.h3 {
    font-size: 2rem;
    font-weight: bold;
}

.p {
    font-size: 1rem;
}

#root {
    padding: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
    padding-top: 6rem;
}

.nav-container {
    position: fixed;
    background-color: var(--bg-color);
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 0.5rem 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar a {
    font-size: 3rem;
    margin: 1rem;
}

.navbar button {
    font-size: 3rem;
    margin: 1rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    background-color: var(--bg-color);
    border: 1px solid var(--primary);
    z-index: 1000;
}

.dropdown:hover .dropdown-menu {
    display: flex;
}

.dropdown-menu .button {
    text-align: center;
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0;
}

.username, .money {
    position: absolute;
    margin: 2rem;
    font-size: 2rem;
}

.money {
    right: 1rem;
}

.username {
    left: 1rem;
}

.button.red {
    color: var(--red);
}

.button {
    color: var(--primary);
    padding: 0.5rem;
    font-weight: bold;
    font-size: 2rem;
    border: none;
    background-color: transparent;
    text-decoration: none;
}

.button a {
    text-decoration: none;
    color: inherit;
}

.button:has(a) {
    padding: 0;
}

.button > a {
    padding: 0.5rem;
}

.button:hover {
    color: var(--highlight)
}

.button:active {
    background-color: var(--primary);
    color: var(--primary);
}

.dropdown-toggle:active {
    background-color: transparent;
}

.dropdown:hover .dropdown-toggle {
    color: var(--highlight);
}

.button.active,
.button:has(.active) {
    background-color: var(--primary);
    color: var(--secondary);
}

.error-container {
    text-align: center;
    margin-top: 5rem;
}

.text-input-wrapper {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.text-input-mirror {
    position: absolute;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    white-space: pre;
    font-family: inherit;
    font-weight: bold;
    font-size: 2rem;
    padding: 0.25rem;
}

.text-input {
    border-width: 1px;
    border-style: solid;
    border-color: var(--primary);

    font-family: inherit;
    font-weight: bold;

    color: var(--primary);
    background-color: transparent;

    font-size: 2rem;
    padding: 0.5rem;
    padding-right: 1.5rem;

    caret-color: transparent;
}

.text-input:active, .text-input:focus {
    background-color: var(--primary);
    color: var(--secondary);
    outline: none;
}

.fake-cursor {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);

    color: var(--secondary);
    font-size: 2rem;

    opacity: 0;

    animation: blink 1s steps(1, start) infinite;
    pointer-events: none;
}

.text-input:not(:focus) + .fake-cursor {
    display: none;
}

@keyframes blink {
    50% { opacity: 1; }
}

.aces {
    font-family: 'ACES07', system-ui, sans-serif;
    font-weight: normal;
}