@font-face {
    font-family: "HornetDisplay";
    src: url("./assets/fonts/HornetDisplay-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HornetDisplay";
    src: url("./assets/fonts/HornetDisplay-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --bg-color: #131613;
    --primary: #FFFFFF;
    --secondary: #000000;
    --highlight: #F8FC2A;
    --red: #BC3B3B;
}

html {
    height: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, a, button, input, textarea, select {
    cursor: url("./assets/images/cursor.svg") 16 16, auto;
}

body {
    background-color: var(--bg-color);
    color: var(--primary);
    font-family: 'HornetDisplay', system-ui, sans-serif;
    font-weight: bold;
    margin: 0;
}

#root {
    padding: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
}

.nav-container {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar button {
    margin: 1rem;
}

.navbar a {
    font-size: 3rem;
}

.button.red {
    color: var(--red);
}

.button {
    color: var(--primary);
    padding: 0.5rem;
    font-weight: bold;
    font-family: inherit;
    font-size: 2rem;
    border: none;
    background-color: transparent;
    text-decoration: none;
}

.button a {
    text-decoration: none;
    color: inherit;
}

.button:has(a) {
    padding: 0;
}

.button > a {
    padding: 0.5rem;
}

.button:hover {
    color: var(--highlight)
}

.button:active {
    background-color: var(--primary);
    color: var(--primary);
}

.button.active,
.button:has(.active) {
    background-color: var(--primary);
    color: var(--secondary);
}