@font-face {
    font-family: "HornetDisplay";
    src: url("./assets/fonts/HornetDisplay-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HornetDisplay";
    src: url("./assets/fonts/HornetDisplay-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --bg-color: #131613;
    --primary: #FFFFFF;
    --secondary: #000000;
    --highlight: #F8FC2A;
    --red: #BC3B3B;
}

html {
    height: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, a, button, input, textarea, select {
    cursor: url("./assets/images/cursor.svg") 16 16, auto;
}

body {
    background-color: var(--bg-color);
    color: var(--primary);
    font-family: 'HornetDisplay', system-ui, sans-serif;
    font-weight: bold;
    margin: 0;
}

.h1 {
    font-size: 3rem;
    font-weight: bold;
}

.p {
    font-size: 1rem;
}

#root {
    padding: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
}

.nav-container {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar a {
    font-size: 3rem;
    margin: 1rem;
}

.button.red {
    color: var(--red);
}

.button {
    color: var(--primary);
    padding: 0.5rem;
    font-weight: bold;
    font-family: inherit;
    font-size: 2rem;
    border: none;
    background-color: transparent;
    text-decoration: none;
}

.button a {
    text-decoration: none;
    color: inherit;
}

.button:has(a) {
    padding: 0;
}

.button > a {
    padding: 0.5rem;
}

.button:hover {
    color: var(--highlight)
}

.button:active {
    background-color: var(--primary);
    color: var(--primary);
}

.button.active,
.button:has(.active) {
    background-color: var(--primary);
    color: var(--secondary);
}

.error-container {
    text-align: center;
    margin-top: 5rem;
}

.news-article {
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    width: 50%;
    margin: 2rem auto;
    position: relative;
}

.news-article-title {
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
}

.news-article-title-underline {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

.news-article-content {
    font-size: 1rem;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-article-dropdown-button {
    position: absolute;
    top: .5rem;
    right: .5rem;
}

.news-article-image-container {
    position: static;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.news-article-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-article-text-container {
    flex: 1;
    min-width: 0;
}

.news-article-divider {
    height: 1px;
    background-color: var(--primary);

    display: flex;
    gap: 1rem;

    width: 50%;
    margin: 2rem auto;
    position: relative;
}
