.news-article {
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    width: 50%;
    margin: 2rem auto;
    position: relative;
}

.news-article-title {
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
}

.news-article-title-underline {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

.news-article-content {
    font-size: 1rem;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-article-dropdown-button {
    position: absolute;
    top: .5rem;
    right: .5rem;
}

.news-article-image-container {
    position: static;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.news-article-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-article-text-container {
    flex: 1;
    min-width: 0;
}

.news-article-divider {
    height: 1px;
    background-color: var(--primary);

    display: flex;
    gap: 1rem;

    width: 50%;
    margin: 2rem auto;
    position: relative;
}